.container-parent{
    display: flex;
    height: 100vh;
    width: auto;
    background-color: lavender;
    justify-content: center;
    text-align: center;
    position: relative;
   }

   .container-child{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    padding-top: 50px;
   }

   .form-head{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
   }

   .form-head::selection{
    background-color: black;
    color: lavender;
   }

   .label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   .label::selection{
    color: white;
    background-color: black;
   }

   .label, .input-box{
    display: flex;
    font-size: 20px;
    padding: 3px 5px;
   }

   .input-box{
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid white;
    transition: 1s all;
    font-family: Arial, Helvetica, sans-serif;
   }

   .input-box:focus{
    border: 2px solid lavender;
    border-radius: 10px;
    box-shadow: 0px 0px 50px gray;
    transition: 1.5s all;
   }

   .checkbox-section{
    display: flex;
   }

  #checkbox{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  #checkboxContent{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }

  #checkboxContent::selection{
    background-color: black;
    color: white;
  }

  #btn{
    margin-left: 10px;
    margin-top: 50px;
    padding: 8px 0px;
    border: 2px solid lavender;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    transition: 1s all;
  }

  #btn:hover{
    box-shadow: 0px 0px 40px gray;
    transition: 1s all;
  }
